:root {
  --time: 6s;
  --steps: 12;
}
.body {
  background-color: bisque;
}
.h1 {
  text-align: center;
  color: rgb(61, 61, 61);
}
.shadow {
  color: #ededed;
  text-decoration: none;
  text-shadow: 2px 2px black;
}
.multiline {
  white-space: pre-wrap;
}
.div1 {
  width: 33.33%;
  float: right;
  color: navy;
  text-shadow: 2px 2px white;
}
.div2 {
  width: 33.33%;
  float: left;
  color: navy;
  text-shadow: 2px 2px white;
}
.div3 {
  width: 33.33%;
  margin: 0px auto;
  color: navy;
  text-shadow: 2px 2px white;
}
.terminal {
    display: block;
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #D2B48C;
    background: #241f1d;
    font-family: cursor, monospace;
    overflow-x: hidden;
}
.lastLogin {
    font-weight: 100;
    font-size: large;    
}
.blood {
    color: crimson;
    text-shadow: darkred 2px 2px;
}
.textarea {
    width: 85%;
    height: 12px;
    font-size: small;
    resize: none;
    outline: none;
    overflow: hidden;
}
#inputt {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #D2B48C;
    font-family: cursor, monospace;
    font-size: medium;
    
}
.list {
  list-style-type: none;
  list-style: none;
  margin-left: 25px;
  padding: 0;
}
.textmovewow {
  position: relative;
  width: max-content;
}
.textmovewow::before,
.textmovewow::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.textmovewow::before {
  background-color: #241f1d;
  animation: typewriter var(--time) steps(var(--steps)) 1s forwards; 
}
.textmovewow::after {
  width: 0.125em;
  background-color: #D2B48C;
  animation: typewriter var(--time) steps(var(--steps)) 1s forwards, blinkers 750ms steps(var(--steps)) infinite;
  
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinkers {
  to{
    background: transparent;
  }  
}
